.typewriter h1 {
  display: flex;
  overflow: hidden;
  border-right: .15em solid green;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
}

.wise-button {
  display: block;
  margin: 10px 0;
  text-align: left;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: green;
  }

  100% {
    border-color: transparent;
  }
}