main {
  padding: 3%;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial Narrow', sans-serif;
  font-weight: 500;
}

.page-container {
  display: flex;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}
